    {% comment %} <!-- for theme.liquid -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> {% endcomment %}




<style>
  /* pdp slider css */
  .thumbnail-slider .slick-track{
    transform: none !important;
    overflow-y: scroll;
    height: 100% !important;
    overflow-x: hidden;
  }
  .slider-item video{
    width:100%;
  }
  .thumbnail-slider .slick-slide{
    width:80px !important;
    height:100px;
    cursor:pointer;
  }
  .thumbnail-slider .slick-slide div,
  .thumbnail-slider .slick-slide div div{
    display:flex !important;
    align-items:center;
    justify-content:center;
    height: 100% !important; 
  }
  .thumbnail-slider .slick-current{
    border:.1rem solid rgba(var(--color-foreground),.2)!important;
  }
   .main-slider .slick-prev,.main-slider .slick-next{
    z-index:1;
  }
  .main-slider, .thumbnail-slider {
    float: left; 
  }
  .main-slider {
    width: 78%;
  }
  .thumbnail-slider {
    width: 20%;
    height: 560px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }
  .main-slider .slick-slide:hover .product__media-icon{
    opacity:1 ;
  }
  .main-slider .slick-slide{
    cursor:zoom-in;
  }
  .main-slider .slick-slide:has(video){
    cursor:pointer;
  }
  .slider-item{
    width:fit-content;
  }
  .slider-item img {
    width: 100%;
    display: block;
  }
  .favorites-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .custom_slick_btn.slick-prev:before, .custom_slick_btn.slick-next:before{
    display:none !important;
  }
  .custom_slick_btn.slick-prev, .custom_slick_btn.slick-next{
    background: #f0f0f0;
      width: 52px;
      height: 52px;
      border-radius: 50%;
  }
  .custom_slick_btn.slick-prev{
    left:0 !important;
  }
  .custom_slick_btn.slick-next{
    right:0 !important;
  }
  .thumbnail-slider .slick-list .slick-track::-webkit-scrollbar {
    width: 7px;
  }
  .thumbnail-slider .slick-list .slick-track::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  .thumbnail-slider .slick-list .slick-track::-webkit-scrollbar-thumb {
    background:#c292a1; 
    border-radius: 10px;
  }
 .thumbnail-slider .slick-list{
    height:100% !important;
  }
  .videoWrapper{
    position:relative;
  }
  .previewWrapper{
    position: absolute;
    top: 0;
    width: 100%;

  }
  .playwrapper{
    width:100px;
    height:100px;
  }
  .product-media-modal__content>*:not(.active), .product__media-list .deferred-media {
    display:block !important;
  }
@media screen and (max-width:1000px){
  .thumbnail-slider{
    display:none;
  }
  .main-slider {
    width: 100%;
  }
}
/* pdp slider css end */
</style>


{% comment %}theme-check-disable TemplateLength{% endcomment %}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-badge.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}


<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="all">

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'copy.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'update-slider.js' | asset_url }}" defer="defer"></script>

{%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
{%- if first_3d_model -%}
  {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link
    id="ModelViewerStyle"
    rel="stylesheet"
    href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
    media="print"
    onload="this.media='all'"
  >
  <link
    id="ModelViewerOverride"
    rel="stylesheet"
    href="{{ 'component-model-viewer-ui.css' | asset_url }}"
    media="print"
    onload="this.media='all'"
  >
{%- endif -%}

<section class="container">
  <div class="product {% if product.media.size > 0 %}row{% else %}product--no-media{% endif %} {% if product.media.size > 0 and section.settings.gallery_alignment_desktop == "left" %}gallery-left{% endif %} {% if product.media.size > 0 and section.settings.gallery_alignment_mobile == "before" %}gallery-before{% endif %}">
    <div class="product__info-wrapper {% if product.media.size > 0 %}col-lg-6{% endif %}">
      <div
        id="ProductInfo-{{ section.id }}"
        class="product__info-container{% if section.settings.enable_sticky_info %} product__info-container--sticky{% endif %}"
      >
        {%- assign product_form_id = 'product-form-' | append: section.id -%}

        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}

            {%- when 'text' -%}
              <p
                class="product__text{% if block.settings.text_style == 'subtitle' %} subtitle{% endif %}"
                {{ block.shopify_attributes }}
              >
                {{- block.settings.text -}}
              </p>

            {%- when 'title' -%}
              <div
                class="
                  product__title__wrapper
                  {%- if product.available == false %} price--sold-out {% endif -%}
                    {%- if product.compare_at_price > product.price %} price--on-sale {% endif -%}
                "
              >
                <h1 class="product__title h2" {{ block.shopify_attributes }}>
                  {{ product.title | escape }}
                </h1>
                <div class="badge-wrapper">
                  <span class="badge price__badge-sale color-background-2" aria-hidden="true">
                    {{ 'products.product.on_sale' | t }}
                  </span>
                  <span
                    class="badge price__badge-sold-out color-{{ settings.sold_out_badge_color_scheme }}"
                    aria-hidden="true"
                  >
                    {{ 'products.product.sold_out' | t }}
                  </span>
                </div>
              </div>

            {%- when 'price' -%}
              <div class="no-js-hidden price-wrapper" id="price-{{ section.id }}" {{ block.shopify_attributes }}>
                {%- render 'price',
                  product: product,
                  use_variant: true,
                  show_badges: true,
                  price_class: 'price--product'
                -%}
              </div>

              <div {{ block.shopify_attributes }} style="margin: 0" class="xj">
                {%- form 'product', product, id: 'product-form-installment', class: 'installment caption-large' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                  {{ form | payment_terms }}
                {%- endform -%}
              </div>
            {%- when 'share' -%}
              {%- if block.settings.show_share_facebook
                or block.settings.show_share_twitter
                or block.settings.show_share_pinterest
                or block.settings.show_share_copy
              -%}
                <div class="share-buttons" aria-label="list">
                  <div class="share-buttons__label">
                    {% render 'icon-share' %}
                    <span class="share-buttons__label-name">{{ 'general.share.share' | t }}</span>
                  </div>

                  <ul class="share-buttons__list">
                    {%- if block.settings.show_share_facebook -%}
                      <li class="share-buttons__item">
                        <a
                          href="https://www.facebook.com/sharer.php?u={{ shop.url | append: product.url }}"
                          class="share-buttons__button facebook-btn"
                          target="_blank"
                        >
                          {% render 'icon-facebook' %}
                          <span class="share-button__name">{{ 'general.share.links.facebook' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}

                    {%- if block.settings.show_share_twitter -%}
                      <li class="share-buttons__item">
                        <a
                          href="https://twitter.com/share?url={{ shop.url | append: product.url }}&text={{ product.title | escape }}"
                          class="share-buttons__button twitter-btn"
                          target="_blank"
                        >
                          {% render 'icon-twitter' %}
                          <span class="share-button__name">{{ 'general.share.links.twitter' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}

                    {%- if block.settings.show_share_pinterest -%}
                      <li class="share-buttons__item">
                        <a
                          href="https://pinterest.com/pin/create/bookmarklet/?media={{ product.featured_media | img_url: '1100x1100' }}&url={{ shop.url | append: product.url }}&description={{ product.title | escape }}"
                          class="share-buttons__button pinterest-btn"
                          target="_blank"
                        >
                          {% render 'icon-pinterest' %}
                          <span class="share-button__name">{{ 'general.share.links.pinterest' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}

                    {%- if block.settings.show_share_copy -%}
                      <li class="share-buttons__item">
                        <a href="{{ shop.url | append: product.url }}" class="share-buttons__button copy-btn">
                          {% render 'icon-copy' %}
                          <span class="share-button__name">{{ 'general.share.links.copy' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                  </ul>
                </div>
              {%- endif -%}
            {%- when 'description' -%}
              {%- render 'productBadges' -%}
              {%- if product.description != blank -%}
                <div class="product__description rte">
                  {{ product.description }}
                </div>
              {%- endif -%}
              {%- render 'productAccordian' -%}

            {%- when 'tags' -%}
              {%- if product.tags != blank -%}
                <ul class="product-tags">
                  {% for tag in product.tags %}
                    <li class="product-tags__tag">
                      {{ tag }}
                      {% render 'icon-checkmark' %}
                    </li>
                  {% endfor %}
                </ul>
              {%- endif -%}

            {%- when 'additional' -%}
              <div class="product__additional" {{ block.shopify_attributes }}>
                <h2 class="h3 product__additional-title">
                  {{ block.settings.heading }}
                </h2>
                <div class="product__additional-description rte">
                  {{ block.settings.content }}
                </div>
              </div>

            {%- when 'variant_picker' -%}
              {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}

            {%- when 'buy_buttons' -%}
              <div {{ block.shopify_attributes }}>
                {%- liquid
                  assign gift_card_recipient_feature_active = false
                  if block.settings.show_gift_card_recipient and product.gift_card?
                    assign gift_card_recipient_feature_active = true
                  endif

                  assign show_dynamic_checkout = false
                  if block.settings.show_dynamic_checkout and gift_card_recipient_feature_active == false
                    assign show_dynamic_checkout = true
                  endif
                -%}

                <product-form class="product-form" data-hide-errors="{{ gift_card_recipient_feature_active }}">
                  <div class="product-form__error-message-wrapper" role="alert" hidden>
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      role="presentation"
                      class="icon icon-error"
                      viewBox="0 0 13 13"
                    >
                      <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                      <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                      <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                      <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                    </svg>
                    <span class="product-form__error-message"></span>
                  </div>
                  {%- form 'product',
                    product,
                    id: product_form_id,
                    class: 'form',
                    novalidate: 'novalidate',
                    data-type: 'add-to-cart-form'
                  -%}
                    <input
                      type="hidden"
                      name="id"
                      value="{{ product.selected_or_first_available_variant.id }}"
                      disabled
                    >

                    {%- if gift_card_recipient_feature_active -%}
                      {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
                    {%- endif -%}

                    <div class="product-form__buttons">
                      {%- if show_dynamic_checkout -%}
                        {{ form | payment_button }}
                      {%- endif -%}
                      <button
                        type="submit"
                        name="add"
                        class="product-form__submit button button--primary-size {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                        {% if product.selected_or_first_available_variant.available == false %}
                          disabled
                        {% endif %}
                      >
                        {%- if product.selected_or_first_available_variant.available -%}
                          {{ 'products.product.add_to_cart' | t }}
                        {%- else -%}
                          {{ 'products.product.sold_out' | t }}
                        {%- endif -%}
                      </button>
                    </div>
                  {%- endform -%}
                </product-form>

                {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

                {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities
                  | where: 'pick_up_enabled', true
                -%}

                <pickup-availability
                  class="product__pickup-availabilities no-js-hidden"
                  {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %}
                    available
                  {% endif %}
                  data-base-url="{{ shop.url }}{{ routes.root_url }}"
                  data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                  data-has-only-default-variant="{{ product.has_only_default_variant }}"
                >
                  <template>
                    <pickup-availability-preview class="pickup-availability-preview">
                      {% render 'icon-unavailable' %}
                      <div class="pickup-availability-info">
                        <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                        <button class="pickup-availability-button link link--text underlined-link">
                          {{ 'products.product.pickup_availability.refresh' | t }}
                        </button>
                      </div>
                    </pickup-availability-preview>
                  </template>
                </pickup-availability>
              </div>

              <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
            {% when 'complementary' %}
              <product-recommendations
                class="product-recommendations product-complementary"
                data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ block.settings.products_to_show }}&intent=complementary"
              >
                {% if recommendations.performed and recommendations.products_count > 0 %}
                  <p class="product-form__group-name product-form__group-name--recommend caption-large">
                    GET THE SAME DESIGN IN {{ product.metafields.custom.complementary_product_stone_type }}
                  </p>
                  {% for recommendation in recommendations.products %}
                    <div class="card-wrapper">
                      {%- liquid
                        assign featured_media_aspect_ratio = recommendation.featured_media.aspect_ratio

                        if recommendation.featured_media.aspect_ratio == null
                          assign featured_media_aspect_ratio = 1
                        endif
                      -%}

                      {%- if recommendation.media[1] != null and section.settings.show_secondary_image -%}
                        <img
                          srcset="
                            {%- if recommendation.media[1].width >= 165 -%}{{ recommendation.media[1] | img_url: '165x' }} 165w,{%- endif -%}
                            {%- if recommendation.media[1].width >= 360 -%}{{ recommendation.media[1] | img_url: '360x' }} 360w,{%- endif -%}
                            {%- if recommendation.media[1].width >= 533 -%}{{ recommendation.media[1] | img_url: '533x' }} 533w,{%- endif -%}
                          "
                          src="{{ recommendation.media[1] | img_url: '533x' }}"
                          sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                          alt="{{ recommendation.media[1].alt | escape }}"
                          loading="lazy"
                          class="card-wrapper__image motion-reduce"
                          width="{{ recommendation.media[1].width }}"
                          height="{{ recommendation.media[1].height }}"
                        >
                      {%- endif -%}
                      <span class="visually-hidden">{{ recommendation.title | escape }}</span>
                      <div class="card card--product" tabindex="-1">
                        {%- if recommendation.featured_media -%}
                          <img
                            srcset="
                              {%- if recommendation.featured_media.width >= 165 -%}{{ recommendation.featured_media | img_url: '165x' }} 165w,{%- endif -%}
                              {%- if recommendation.featured_media.width >= 360 -%}{{ recommendation.featured_media | img_url: '360x' }} 360w,{%- endif -%}
                              {%- if recommendation.featured_media.width >= 533 -%}{{ recommendation.featured_media | img_url: '533x' }} 533w,{%- endif -%}
                            "
                            src="{{ recommendation.featured_media | img_url: '533x' }}"
                            sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                            alt="{{ recommendation.featured_media.alt | escape }}"
                            loading="lazy"
                            class="motion-reduce"
                            width="100%"
                            height="100%"
                          >
                        {%- elsif recommendation.featured_media == blank -%}
                          {{ 'product-3' | placeholder_svg_tag: 'placeholder-svg' }}
                        {%- endif -%}
                      </div>

                      <div class="card-information">
                        <div class="card-information__wrapper">
                          <h3 class="card__title">
                            {{ recommendation.title | escape }}
                          </h3>

                          <div class="card-information__bottom">
                            {% render 'price', product: recommendation, price_class: '' %}
                          </div>
                        </div>
                        {% render 'icon-arrow' %}
                      </div>
                      <a
                        href="{{ recommendation.url | default: '#' }}"
                        class="link link--overlay card-wrapper__link--overlay"
                      ></a>
                    </div>
                  {% endfor %}
                {% endif %}
              </product-recommendations>

            {% when 'inventory' %}
              {% assign inventory = section.blocks | where: 'type', 'inventory' %}
              {%- for block in inventory -%}
                <div class="inventory" {{ block.shopify_attributes }}>
                  <div class="inventory__wrapper">
                    <div class="inventory__content">
                      <div class="inventory__title">
                        <span id="Inventory-{{ section.id }}">
                          <span class="inventory__title--{% if product.selected_or_first_available_variant.inventory_quantity < 10 %}error{% endif %}">
                            {% if product.selected_or_first_available_variant.inventory_quantity > 0 %}
                              {{
                                'products.product.quantity.in_stock'
                                | t: quantity: product.selected_or_first_available_variant.inventory_quantity
                              }}
                            {% else %}
                              {{ 'products.product.quantity.out_of_stock' | t }}
                            {% endif %}
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
    <div class="product__media-wrapper {% if product.media.size > 0 %}col-lg-6{% endif %}">
      <div class="product__media-list-wrapper">
        <!-- Swym Wishlist Plus EPI Button -->
        <button
          data-with-epi="true"
          class="swym-button swym-add-to-wishlist-view-product product_{{product.id}}"
          data-swaction="addToWishlist"
          data-product-id="{{product.id | json}}"
          data-variant-id="{{product.variants[0].id}}"
          data-product-url="{{ shop.url }}{{ product.url }}"
        ></button>
        <!-- Swym Wishlist Plus EPI Button -->
       
        <!-- pdp slider -->
        <div style="position:relative;width:100%;gap: 33px;display: flex;">
          
          <!-- Main Image and Video Slider -->
          <div class="main-slider">
            {% for media in product.media %}
              <div class="slider-item">
                {% if media.media_type == 'image' %}
                  <img src="{{ media.src | img_url: 'master' }}" alt="{{ product.title }}">
                  <span class="product__media-icon motion-reduce" aria-hidden="true"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12zM7 7V5h2v2h2v2H9v2H7V9H5V7h2z" fill="currentColor"></path></svg></span>
                {% elsif media.media_type == 'video' or media.media_type == 'external_video' %}
                  <div class='videoWrapper'>
                    <video controls>
                      <source src="{{ media.sources[1].url }}" type="{{ media.sources[1].mime_type }}">
                    </video>
                    <div class='previewWrapper'>
                        <img src="{{ media.preview_image.src | img_url: '550x550' }}" alt="Video Thumbnail"> <!-- Optionally, use a specific thumbnail if available -->              
                        <span class="deferred-media__poster-button motion-reduce"><span class="visually-hidden">Play video</span><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-play" fill="none" viewBox="0 0 10 14"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.48177 0.814643C0.81532 0.448245 0 0.930414 0 1.69094V12.2081C0 12.991 0.858787 13.4702 1.52503 13.0592L10.5398 7.49813C11.1918 7.09588 11.1679 6.13985 10.4965 5.77075L1.48177 0.814643Z" fill="currentColor"></path></svg></span>
                    </div>
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        
          <!-- Thumbnail Slider -->
          <div class="thumbnail-slider">
            {% for media in product.media %}
              <div class="slider-item">
                {% if media.media_type == 'image' %}
                  <img src="{{ media.src | img_url: '550x550' }}" alt="{{ product.title }}">
                {% elsif media.media_type == 'video' or media.media_type == 'external_video' %}
                  <img src="{{ media.preview_image.src | img_url: '550x550' }}" alt="Video Thumbnail"> <!-- Optionally, use a specific thumbnail if available -->
                {% endif %}
              </div>
            {% endfor %}
          </div>
          
        </div>
        <!-- pdp slider end -->
     
      </div>
      {%- if first_3d_model -%}
        <button
          class="button button--full-width product__xr-button"
          type="button"
          aria-label="{{ 'products.product.xr_button_label' | t }}"
          data-shopify-xr
          data-shopify-model3d-id="{{ first_3d_model.id }}"
          data-shopify-title="{{ product.title | escape }}"
          data-shopify-xr-hidden
        >
          {% render 'icon-3d-model' %}
          {{ 'products.product.xr_button' | t }}
        </button>
      {%- endif -%}
    </div>
  </div>
  <product-modal id="ProductModal-{{ section.id }}" class="product-media-modal">
    <div
      class="product-media-modal__dialog"
      role="dialog"
      aria-label="{{ 'products.modal.label' | t }}"
      aria-modal="true"
      tabindex="-1"
    >
      <button
        id="ModalClose-{{ section.id }}"
        type="button"
        class="product-media-modal__toggle"
        aria-label="{{ 'accessibility.close' | t }}"
      >
        {% render 'icon-close' %}
      </button>

      <div
        class="product-media-modal__content"
        role="document"
        aria-label="{{ 'products.modal.label' | t }}"
        tabindex="0"
      >
        {%- for media in product.media -%}
          {%- if media.media_type == 'image' -%}
            <img
              srcset="
                {%- if media.preview_image.width >= 550 -%}{{ media.preview_image | img_url: '550x' }} 550w,{%- endif -%}
                {%- if media.preview_image.width >= 1100 -%}{{ media.preview_image | img_url: '1100x' }} 1100w,{%- endif -%}
                {%- if media.preview_image.width >= 1680 -%}{{ media.preview_image | img_url: '1680x' }} 1680w,{%- endif -%}
                {%- if media.preview_image.width >= 2048 -%}{{ media.preview_image | img_url: '2048x' }} 2048w,{%- endif -%}
                {%- if media.preview_image.width >= 4096 -%}{{ media.preview_image | img_url: '4096x' }} 4096w{%- endif -%}
              "
              sizes="(min-width: 750px) calc(100vw - 12rem), 100vw"
              src="{{ media.preview_image | img_url: '750x' }}"
              alt="{{ media.alt | escape }}"
              loading="lazy"
              width="1100"
              height="{{ 1100 | divided_by: media.preview_image.aspect_ratio | ceil }}"
              data-media-id="{{ media.id }}"
            >
          {%- else -%}
            {%- if media.media_type == 'model' -%}
              <div class="product-media-modal__model" data-media-id="{{ media.id }}">
                <product-model class="deferred-media media" style="padding-top: min(calc(100vh - 12rem), 100%)">
            {%- else -%}
              <deferred-media
                class="deferred-media media"
                style="padding-top: min(calc(100vh - 12rem), {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%)"
                data-media-id="{{ media.id }}"
              >
            {%- endif -%}

            <button id="Deferred-Poster-Modal-{{ media.id }}" class="deferred-media__poster" type="button">
              <span class="deferred-media__poster-button motion-reduce">
                {%- if media.media_type == 'model' -%}
                  {%- render 'icon-3d-model' -%}
                {%- else -%}
                  {%- render 'icon-play' -%}
                {%- endif -%}
              </span>
              <img
                srcset="
                  {% if media.preview_image.width >= 288 %}{{ media.preview_image | img_url: '288x' }} 288w,{% endif %}
                  {% if media.preview_image.width >= 576 %}{{ media.preview_image | img_url: '576x' }} 576w,{% endif %}
                  {% if media.preview_image.width >= 400 %}{{ media.preview_image | img_url: '400x' }} 400w,{% endif %}
                        {% if media.preview_image.width >= 500 %}{{ media.preview_image | img_url: '500x' }} 500w,{% endif %}
                  {% if media.preview_image.width >= 550 %}{{ media.preview_image | img_url: '550x' }} 550w,{% endif %}
                  {% if media.preview_image.width >= 1100 %}{{ media.preview_image | img_url: '1100x' }} 1100w{% endif %}
                "
                src="{{ media | img_url: '550x550' }}"
                sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                loading="lazy"
                width="576"
                height="{{ 576 | divided_by: media.preview_image.aspect_ratio }}"
                alt="{{ media.preview_image.alt | escape }}"
              >
            </button>
            <template>
              {%- case media.media_type -%}
                {%- when 'external_video' -%}
                  {%- assign video_class = 'js-' | append: media.host -%}
                  {%- if media.host == 'youtube' -%}
                    {{
                      media
                      | external_video_url:
                        autoplay: true,
                        loop: section.settings.enable_video_looping,
                        playlist: media.external_id
                      | external_video_tag: class: video_class, loading: 'lazy'
                    }}
                  {%- else -%}
                    {{
                      media
                      | external_video_url: autoplay: true, loop: section.settings.enable_video_looping
                      | external_video_tag: class: video_class, loading: 'lazy'
                    }}
                  {%- endif -%}
                {%- when 'video' -%}
                  {{
                    media
                    | media_tag:
                      image_size: '2048x',
                      autoplay: true,
                      loop: section.settings.enable_video_looping,
                      controls: true,
                      preload: 'none',
                      autoplay: true
                  }}
                {%- when 'model' -%}
                  {{ media | media_tag: image_size: '2048x', toggleable: true }}
              {%- endcase -%}
            </template>

            {%- if media.media_type == 'model' -%}
              </product-model>
              <button
                class="button button--full-width product__xr-button"
                type="button"
                aria-label="{{ 'products.product.xr_button_label' | t }}"
                data-shopify-xr
                data-shopify-model3d-id="{{ media.id }}"
                data-shopify-title="title"
                data-shopify-xr-hidden
              >
                {% render 'icon-3d-model' %}
                {{ 'products.product.xr_button' | t }}
              </button>
              </div>
            {%- else -%}
              </deferred-media>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </product-modal>
</section>
{% if template contains 'product' %}
  <script src="{{ 'jquery_min.js' | asset_url }}" async></script>
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
{% endif %}

{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>

  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

{% schema %}
{
	"name": "t:sections.main-product.name",
	"tag": "section",
	"class": "product-section",
	"blocks": [
		{
			"type": "@app"
		},
		{
			"type": "text",
			"name": "t:sections.main-product.blocks.text.name",
			"settings": [
				{
					"type": "text",
					"id": "text",
					"default": "Text block",
					"label": "t:sections.main-product.blocks.text.settings.text.label"
				},
				{
					"type": "select",
					"id": "text_style",
					"options": [
						{
							"value": "body",
							"label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
						},
						{
							"value": "subtitle",
							"label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
						}
					],
					"default": "body",
					"label": "t:sections.main-product.blocks.text.settings.text_style.label"
				}
			]
		},
		{
			"type": "title",
			"name": "t:sections.main-product.blocks.title.name",
			"limit": 1
		},
		{
			"type": "price",
			"name": "t:sections.main-product.blocks.price.name",
			"limit": 1
		},
		{
			"type": "share",
			"name": "t:sections.main-product.blocks.share.name",
			"limit": 1,
			"settings": [
				{
					"type": "checkbox",
					"id": "show_share_facebook",
					"default": true,
					"label": "t:sections.main-product.blocks.share.settings.show_share_facebook.label"
				},
				{
					"type": "checkbox",
					"id": "show_share_twitter",
					"default": true,
					"label": "t:sections.main-product.blocks.share.settings.show_share_twitter.label"
				},
				{
					"type": "checkbox",
					"id": "show_share_pinterest",
					"default": true,
					"label": "t:sections.main-product.blocks.share.settings.show_share_pinterest.label"
				},
				{
					"type": "checkbox",
					"id": "show_share_copy",
					"default": true,
					"label": "t:sections.main-product.blocks.share.settings.show_share_copy.label"
				}
			]
		},
		{
			"type": "variant_picker",
			"name": "t:sections.main-product.blocks.variant_picker.name",
			"limit": 1,
			"settings": [
				{
					"type": "select",
					"id": "picker_type",
					"options": [
						{
							"value": "dropdown",
							"label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
						},
						{
							"value": "button",
							"label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
						}
					],
					"default": "dropdown",
					"label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
				}
			]
		},
		{
			"type": "buy_buttons",
			"name": "t:sections.main-product.blocks.buy_buttons.name",
			"limit": 1,
			"settings": [
				{
					"type": "checkbox",
					"id": "show_dynamic_checkout",
					"default": true,
					"label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
					"info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
				},
				{
					"type": "checkbox",
					"id": "show_gift_card_recipient",
					"default": false,
					"label": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.label",
					"info": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.info"
				}
			]
		},
		{
			"type": "description",
			"name": "t:sections.main-product.blocks.description.name",
			"limit": 1
		},
		{
			"type": "tags",
			"name": "t:sections.main-product.blocks.tags.name",
			"limit": 1
		},
		{
			"type": "additional",
			"name": "t:sections.main-product.blocks.additional.name",
			"settings": [
				{
					"type": "text",
					"id": "heading",
					"info": "t:sections.main-product.blocks.additional.settings.heading.info",
					"label": "t:sections.main-product.blocks.additional.settings.heading.label",
					"default": "Title for additional description"
				},
				{
					"type": "richtext",
					"id": "content",
					"label": "t:sections.main-product.blocks.additional.settings.content.label",
					"default": "<p>include an additional description for your product</p>"
				}
			]
		},
		{
			"type": "complementary",
			"name": "t:sections.main-product.blocks.complementary.name",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "t:sections.main-product.blocks.complementary.settings.paragraph.content"
				},
				{
					"type": "range",
					"id": "products_to_show",
					"min": 1,
					"max": 4,
					"step": 1,
					"default": 1,
					"label": "t:sections.main-product.blocks.complementary.settings.products_to_show.label"
				}
			]
		},
		{
			"type": "inventory",
			"name": "t:sections.main-product.blocks.inventory.name",
			"limit": 1,
			"settings": []
		}
	],
	"settings": [
		{
			"type": "header",
			"content": "t:sections.main-product.settings.header.content",
			"info": "t:sections.main-product.settings.header.info"
		},
		{
			"type": "checkbox",
			"id": "enable_sticky_info",
			"default": true,
			"label": "t:sections.main-product.settings.enable_sticky_info.label"
		},
		{
			"type": "checkbox",
			"id": "enable_video_looping",
			"default": false,
			"label": "t:sections.main-product.settings.enable_video_looping.label"
		},
		{
			"type": "select",
			"id": "gallery_alignment_desktop",
			"options": [
				{
					"value": "right",
					"label": "t:sections.main-product.settings.gallery_alignment_desktop.options__1.label"
				},
				{
					"value": "left",
					"label": "t:sections.main-product.settings.gallery_alignment_desktop.options__2.label"
				}
			],
			"default": "right",
			"label": "t:sections.main-product.settings.gallery_alignment_desktop.label"
		},
		{
			"type": "select",
			"id": "gallery_alignment_mobile",
			"options": [
				{
					"value": "before",
					"label": "t:sections.main-product.settings.gallery_alignment_mobile.options__1.label"
				},
				{
					"value": "after",
					"label": "t:sections.main-product.settings.gallery_alignment_mobile.options__2.label"
				}
			],
			"default": "after",
			"label": "t:sections.main-product.settings.gallery_alignment_mobile.label"
		}
	]
}
{% endschema %}


                  
<!-- pdp slider -->
<script>
$(document).ready(function() {
  console.log('ready')
  $('.main-slider').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: true,
    asNavFor: '.thumbnail-slider',
    fade: true,
    prevArrow: '<button class="custom_slick_btn slick-prev slick-arrow" style="color: rgb(51, 51, 51);" aria-label="Previous slide"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="height:30px;width:30px"><path d="M0-.25H24v24H0Z" transform="translate(0 0.25)" style="fill:none"></path><polyline points="14.4 7.03 9 12.43 14.4 17.83" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-miterlimit:8;stroke-width:2px"></polyline></svg></button>',
    nextArrow: '<button class="custom_slick_btn slick-next slick-arrow" style="color: rgb(51, 51, 51);"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="height:30px;width:30px"><path d="M0-.25H24v24H0Z" transform="translate(0 0.25)" style="fill:none"></path><polyline points="10 17.83 15.4 12.43 10 7.03" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-miterlimit:8;stroke-width:2px"></polyline></svg></button>'
  });

  $('.thumbnail-slider').slick({
    slidesToShow: 5,
    slidesToScroll: 1,
    arrows: false,
    infinite: false,
    asNavFor: '.main-slider',
    dots: false,
    centerMode: false,
    focusOnSelect:true,
    vertical: true,
    verticalSwiping: false,
  });

    var defaultColorValue = $('.product-form__colors-wrapper input[type="radio"]:checked').each(sli);
    $('.product-form__colors-wrapper input[type="radio"]').on('click', sli);
  
    function sli() {
      console.log('in function')
      var colorValue = $(this).val(); 
      document.querySelector('.product-form__colors-wrapper .product-form__input .form__label').innerText = `COLOR : ${colorValue}`
      var imageSrc = $(this).data('variant-image-src');
      var index = $('.thumbnail-slider .slick-slide:not(.slick-cloned) img').filter(function() {
        var src = $(this).attr('src')
        if(src === imageSrc){
          return src === imageSrc;
        }else{
          console.log('no image found')
        }     
      }).closest('.slick-slide').data('slick-index');
  
      // If index found, go to that slide in both sliders
      if(index !== undefined) {
        $('.main-slider').slick('slickGoTo', index);
        $('.thumbnail-slider').slick('slickGoTo', index);
      } else {
        console.log("Matching image not found in the slider for src:", imageSrc);
      }
    }
  
    function openModel(){
      $('.product-media-modal').css({'visibility': 'visible', 'opacity': '1', 'z-index' : '1111'})
    }
  
    function closeModel(){
      $('.product-media-modal').css({'visibility': 'hidden', 'opacity': '0','z-index': '-1'})
    }
  
    let c = $('.main-slider .slick-slide:has(.slider-item > img)').click(openModel)
    $('.product-media-modal__toggle').click(closeModel)
    let previewWrapper = document.querySelectorAll('.previewWrapper');
    Array.from(previewWrapper).forEach((element)=>{
      element.addEventListener('click',function(event){
        event.stopPropagation();
        element.style.display = 'none';
        element.previousElementSibling.play();
      })
    })

  });
</script>